/* ORIGIN.CSS - Global Default Configurations */

/* Reset and Global Defaults */
html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f1425;
  font-weight: 400;
  color: #333;
}

/* Utility Classes and Common Layouts */
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Global Typography */
h2 {
  color: #2f74c0;
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 700;
}
